[honeypot]
hostname = debian-srv-01
kernel_version = 5.15.0-91-generic
interactive_timeout = 300

[ssh]
version = SSH-2.0-OpenSSH_8.9p1 Ubuntu-3ubuntu0.6

[output_jsonlog]
enabled = true
logfile = /cowrie/cowrie-git/var/log/cowrie/cowrie.json

# randomize response times to fool fingerprinting tools
[ssh_connection]
interactive_timeout_min = 10
interactive_timeout_max = 600
